@font-face
  font-family: 'ustate-icon'
  src:  url('../fonts/ustate-icon.eot?90yvjp')
  src:  url('../fonts/ustate-icon.eot?90yvjp#iefix') format('embedded-opentype'),
    url('../fonts/ustate-icon.ttf?90yvjp') format('truetype'),
    url('../fonts/ustate-icon.woff?90yvjp') format('woff'),
    url('../fonts/ustate-icon.svg?90yvjp#ustate-icon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change ../fonts */
  font-family: 'ustate-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-arrow_lift:before
  content: "\e92f"

.icon-close:before
  content: "\e931"

.icon-keyboard_arrow_right:before
  content: "\e930"

.icon-menu42:before
  content: "\e900"

.icon-house128:before
  content: "\e901"

.icon-house129:before
  content: "\e902"

.icon-more10:before
  content: "\e903"

.icon-more13:before
  content: "\e904"

.icon-back48:before
  content: "\e905"

.icon-recycling11:before
  content: "\e906"

.icon-arrow591:before
  content: "\e907"

.icon-cross78:before
  content: "\e908"

.icon-cross80:before
  content: "\e909"

.icon-unlocked25:before
  content: "\e90a"

.icon-star156:before
  content: "\e90b"

.icon-comment42:before
  content: "\e90c"

.icon-comment43:before
  content: "\e90d"

.icon-pencil84:before
  content: "\e90e"

.icon-upper7:before
  content: "\e90f"

.icon-right140:before
  content: "\e910"

.icon-right147:before
  content: "\e911"

.icon-right149:before
  content: "\e912"

.icon-right151:before
  content: "\e913"

.icon-locked35:before
  content: "\e914"

.icon-add153:before
  content: "\e915"

.icon-add154:before
  content: "\e916"

.icon-questions1:before
  content: "\e917"

.icon-heart280:before
  content: "\e918"

.icon-heart281:before
  content: "\e919"

.icon-recycle64:before
  content: "\e91a"

.icon-speaker85:before
  content: "\e91b"

.icon-placeholder19:before
  content: "\e91c"

.icon-placeholder20:before
  content: "\e91d"

.icon-photo182:before
  content: "\e91e"

.icon-photos11:before
  content: "\e91f"

.icon-favorites3:before
  content: "\e920"

.icon-left157:before
  content: "\e921"

.icon-fire .path1:before
  content: "\e922"
  color: rgb(231, 57, 0)

.icon-fire .path2:before
  content: "\e923"
  margin-left: -0.732421875em
  color: rgb(231, 57, 0)

.icon-fire .path3:before
  content: "\e924"
  margin-left: -0.732421875em
  color: rgb(231, 57, 0)

.icon-fire .path4:before
  content: "\e925"
  margin-left: -0.732421875em
  color: rgb(231, 140, 0)

.icon-fire .path5:before
  content: "\e926"
  margin-left: -0.732421875em
  color: rgb(231, 140, 0)

.icon-fire .path6:before
  content: "\e927"
  margin-left: -0.732421875em
  color: rgb(231, 225, 0)

.icon-fire .path7:before
  content: "\e928"
  margin-left: -0.732421875em
  color: rgb(231, 140, 0)

.icon-fire .path8:before
  content: "\e929"
  margin-left: -0.732421875em
  color: rgb(231, 225, 0)

.icon-fire .path9:before
  content: "\e92a"
  margin-left: -0.732421875em
  color: rgb(231, 225, 0)

.icon-fire .path10:before
  content: "\e92b"
  margin-left: -0.732421875em
  color: rgb(255, 255, 158)

.icon-fire .path11:before
  content: "\e92c"
  margin-left: -0.732421875em
  color: rgb(255, 255, 158)

.icon-fire .path12:before
  content: "\e92d"
  margin-left: -0.732421875em
  color: rgb(255, 255, 158)

.icon-file63:before
  content: "\e92e"

.icon-bell:before
  content: "\e951"

.icon-user:before
  content: "\e971"

.icon-smile:before
  content: "\e9e1"

.icon-smile2:before
  content: "\e9e2"

.icon-cross:before
  content: "\ea0f"

.icon-checkmark:before
  content: "\ea10"

.icon-arrow-left2:before
  content: "\ea40"

