// 颜色定义规范
$color-background = #FFF
$color-background-d = #26A2FF
$color-background-d2 = #FAFAFA
$color-like = #ED4956
$color-male = #26A2FF
$color-female = #FF83FA
$color-theme = #26A2FF
$color-theme-d =  #FFF
$color-icon = rgb(170, 170, 170)
$color-border-bottom1 = rgba(0, 0, 0, 0.098)
$color-split = #FAFAFA
$color-split2 = #f2f2f2
$color-forbid = #8C8C8C
//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
$icon-size = 26px